<!-- show.html.erb -->

<p>
  <strong>Title: </strong><%= @article.title %>
  
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h4>Comments</h4>
<%= render @article.comments %>

<!-- The comments section was added after creating the model and controller. -->
<!-- Notice that Comments don't need their own view, they are going to be apart of the article view. -->
<h4>Add a comment:</h4>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
<br>
<br>
<%= link_to 'Home', root_path %>
